body{
	font-family: 'Baloo Paaji 2', cursive;
}
a h1{
	font-weight: bold;
	color: #000000;
	font-size: 1.8em;
	margin-top: -5px;
}
#header-nav{
	background-color: #ACD5E9;
	width: 100%;
	border-radius: 0;
	height: auto;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
.navbar-header button.navbar-toggle{
	border-color: #929B9F;
}
.navbar-default .navbar-nav>li>a{
	color: #404649;
}
li a{
	font-size: 1.3em;
	border-bottom: 1px solid #000000;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #ffffff
}
#nav-list{
	margin: 0px -15px;
}
#menu-heading{
	font-size: 1.7em;
	font-weight: bold;
	color: #000000;
	margin: 5px 0 10px;
}
#tall-section{
	min-height: 1000px;
	align-self: center;
	background-color: #ACD5E9;

}
#section{
	margin: 35px 10px 10px;
}
#section-heading{
	margin: 5px 0;
	font-size: 1.5em;
	font-weight: bold;
}
#content{
	text-align: left;
	font-size:1.3em;
}

@media (max-width: 768px){
	#collapsable-nav{
		background-color: #CAD0D2
	}
	#header-nav{
		border-bottom: 0px;
	}
	.navbar-header{
		border-bottom: 1px solid black;
	}
}